@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    padding: 30px 5%;
}

body{
    background-color: pink;
}

label{
    display: block;
    margin-bottom: 8px;
}

input, select, textarea{
    margin-bottom: 8px;
}

textarea{
    width: 250px;
    height: 150px;
    resize: none;
}

.movie_table{

}

.movie_table th{
    padding: 10px;
    text-align: center;
}



/*body {*/
/*    background-color: #24252A;*/
/*}*/

/*label {*/
/*    display: block;*/
/*    margin-bottom: 8px;*/
/*}*/

/*input, select, textarea, option, label {*/
/*    font-family: "Montserrat", sans-serif;*/
/*    font-size: 14px;*/
/*}*/


/*input, select, textarea, option {*/
/*    margin-bottom: 8px;*/
/*    width: 100%;*/
/*}*/

/*#mDescription {*/
/*    height: 150px;*/
/*    resize: none;*/
/*}*/

/*.container-inner {*/
/*    max-width: 300px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin: 30px;*/
/*}*/

/*.container-outer {*/
/*    background-color: white;*/
/*    max-width: 350px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    border-radius: 25px;*/
/*    margin: 30px;*/
/*}*/





